<h1><%= @trip.name %></h1>
<h2>Total length: <%= @total %></h2>
<h2>Average length: <%= @average %></h2>
<h2>Longest trail length: <%= @longest %></h2>
<h2>Shortest trail length: <%= @shortest %></h2>

<ul>
  <% @trails.each do |trail| %>
  <li><%= link_to trail.name, trail_path(trail) %> <%= trail.length %> <%= trail.address %></li>
  <% end %>
</ul>
